@mixin button($color) {
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 3px;
  &:focus {
    box-shadow: 0 0 2px 4px $color;
  }
}

.primary-btn {
  @include button(#00a2ff);
  background-color: $primary;
}
